<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Set Availability</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/busy.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if g.events is defined %}
<form method="post" action="/show_available">
<br />
  <h2>Choose Events to Ignore</h2>
  {% for event in g.events %}
  <div>
    <input type="checkbox" id="{{ event.id }}" value="{{ event.id }}" name="ignore">
    <label for="{{ event.id }}" style="vertical-align: top">{{ event.summary }}<br />{{ event.dt_string }}</label>
    <br />
    <br />
  </div>
  {% endfor %}
  {% for event in g.events_list %}
    <input type="hidden" id="{{ event.id }}" name="events" value="{{ event }}" />
  {% endfor %}
  <input type="submit" value="Ignore Checked Events">
</form>
{% endif %}
</div>
</body>
</html>
