<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Events</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>



   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/busy.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if g.available is defined %}
<h2>Your Available Time Ranges</h2>
  {% for time_range in g.available %}
  <div>
    Available from {{ time_range[0] }} to {{ time_range[1] }}.
    <br />
  </div>
  {% endfor %}
{% endif %}
<br />
<div>
  <input type="button" onclick="location.href='/choose';" value="Re-select Calendars" />
  <input type="button" onclick="location.href='/choose_events';" value="Re-select Events" />
</div>
</div>
</body>
</html>
